<?xml version="1.0"?>
<model>
  <name>Water Bottle 01</name>

  <version>1.0</version>

  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Robot Integration Group</name>
  </author>

  <description>
    Gazebo Fortress water bottle model for Robot Integration Exercise 3.
    Transparent bottle body with separate bottle cap visual.
  </description>
</model>
