<?xml version="1.0"?>
<model>
  <name>Water Bottle 03</name>
  <version>1.0</version>

  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Robot Integration Group</name>
  </author>

  <description>
    Labelled mineral water bottle for Robot Integration Exercise 3.
  </description>
</model>
