<?xml version='1.0' encoding='utf-8'?>
<robot name="robomaster_ep_core">
  <link name="world" />
  <link name="base_link">
    <inertial>
      <mass value="6.0" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.12" ixy="0" ixz="0" iyy="0.18" iyz="0" izz="0.22" />
    </inertial>
    <visual name="chassis">
      <origin xyz="-0.0059 0.0004 0.0774" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/chassis.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="armor">
      <origin xyz="-0.0065 -0.0781 0.0539" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/armor.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="battery">
      <origin xyz="-0.1303 -0.0019 0.0420" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/battery.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="battery_pin_left">
      <origin xyz="-0.1159 0.0661 0.0771" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/battery_pin_left.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="battery_pin_right">
      <origin xyz="-0.1159 -0.0659 0.0771" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/battery_pin_right.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="controller">
      <origin xyz="-0.1142 -0.0007 0.0773" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/controller.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="controller_cover">
      <origin xyz="-0.0788 -0.0025 0.0967" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/controller_cover.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="front_left_wheel">
      <origin xyz="0.10 0.10 0.0414" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/front_left_wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="front_right_wheel">
      <origin xyz="0.10 -0.10 0.0414" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/front_right_wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="rear_left_wheel">
      <origin xyz="-0.10 0.10 0.0414" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/rear_left_wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="rear_right_wheel">
      <origin xyz="-0.10 -0.10 0.0414" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/rear_right_wheel.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.07" />
      <geometry>
        <box size="0.34 0.22 0.10" />
      </geometry>
    </collision>
  </link>
  <joint name="world_to_base" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0.01" />
  </joint>
  <link name="yaw_link">
    <inertial>
      <mass value="0.3" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.004" />
    </inertial>
    <visual name="arm_base">
      <origin xyz="-0.0008983 -0.0029745 -0.0000244" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/arm_base.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="left_servo">
      <origin xyz="-0.013507 0 -0.0060673" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/left_servo.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="right_servo">
      <origin xyz="-0.013507 0 -0.0060673" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/right_servo.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="base_yaw_joint" type="revolute">
    <parent link="base_link" />
    <child link="yaw_link" />
    <origin xyz="0 0.0010384 0.1152522" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0" effort="10" velocity="2.0" />
    <dynamics damping="0.5" friction="0.1" />
  </joint>
  <link name="upper_arm_link">
    <inertial>
      <mass value="0.45" />
      <origin xyz="0.14 0 0" />
      <inertia ixx="0.003" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.006" />
    </inertial>
    <visual name="arm_1">
      <origin xyz="0.0073108 0.0184816 0.0437162" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/arm_1.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="arm_1_cylinder">
      <origin xyz="-0.0239031 0.0255713 -0.0368083" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/arm_1_cylinder.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.14 0 0" />
      <geometry>
        <box size="0.28 0.035 0.06" />
      </geometry>
    </collision>
  </link>
  <joint name="arm_lift_joint" type="revolute">
    <parent link="yaw_link" />
    <child link="upper_arm_link" />
    <origin xyz="0.0103961 -0.0255713 0.030741" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.8" upper="1.0" effort="20" velocity="1.0" />
    <dynamics damping="0.8" friction="0.1" />
  </joint>
  <link name="wrist_link">
    <inertial>
      <mass value="0.25" />
      <origin xyz="0.10 0 0" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.003" iyz="0" izz="0.003" />
    </inertial>
    <visual name="arm_2">
      <origin xyz="0.0256122 -0.020134 -0.001308" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/arm_2.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="arm_2_bar_1">
      <origin xyz="0.0000762 0.0010863 -0.0002509" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/arm_2_bar_1.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="arm_2_bar_2">
      <origin xyz="-0.0423232 -0.0099192 0.0221971" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/arm_2_bar_2.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.10 0 0" />
      <geometry>
        <box size="0.20 0.035 0.045" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_pitch_joint" type="revolute">
    <parent link="upper_arm_link" />
    <child link="wrist_link" />
    <origin xyz="0.0018704 0.0438659 0.1210238" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5" upper="1.5" effort="10" velocity="1.0" />
    <dynamics damping="0.6" friction="0.1" />
  </joint>
  <link name="gripper_base_link">
    <inertial>
      <mass value="0.15" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual name="endpoint_bracket">
      <origin xyz="0.0071657 -0.0245846 0.0008407" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/endpoint_bracket.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="gripper_base">
      <origin xyz="0.0002793 -0.027026 0.0001815" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/gripper_base.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.06 0.13 0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="wrist_to_gripper" type="fixed">
    <parent link="wrist_link" />
    <child link="gripper_base_link" />
    <origin xyz="0.1058557 0.006752 -0.0561093" rpy="0 0 0" />
  </joint>
  <link name="left_finger_link">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0.06 0 0" />
      <inertia ixx="0.0002" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004" />
    </inertial>
    <visual name="finger_root">
      <origin xyz="-0.0000152 0.0000812 -0.0000225" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/gripper_left_1.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="finger_mid">
      <origin xyz="0.0647185 0.0437636 -0.0000225" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/gripper_left_5.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="finger_tip">
      <origin xyz="0.0396965 -0.0038027 -0.0000225" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/gripper_left_7.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.06 0 0" />
      <geometry>
        <box size="0.12 0.018 0.035" />
      </geometry>
    </collision>
  </link>
  <link name="right_finger_link">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0.06 0 0" />
      <inertia ixx="0.0002" ixy="0" ixz="0" iyy="0.0004" iyz="0" izz="0.0004" />
    </inertial>
    <visual name="finger_root">
      <origin xyz="-0.0000152 -0.0000812 -0.0000225" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/right_gripper_1.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="finger_mid">
      <origin xyz="0.0645836 -0.0441970 -0.0000225" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/right_gripper_5.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <visual name="finger_tip">
      <origin xyz="0.0548513 -0.0132614 -0.0000225" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robomaster_pick_place_sim/meshes/right_gripper_7.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.06 0 0" />
      <geometry>
        <box size="0.12 0.018 0.035" />
      </geometry>
    </collision>
  </link>
  <joint name="left_finger_joint" type="prismatic">
    <parent link="gripper_base_link" />
    <child link="left_finger_link" />
    <origin xyz="0.0163032 0.0212032 -0.0399201" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0.0" upper="0.045" effort="20" velocity="0.2" />
    <dynamics damping="2.0" friction="0.2" />
  </joint>
  <joint name="right_finger_joint" type="prismatic">
    <parent link="gripper_base_link" />
    <child link="right_finger_link" />
    <origin xyz="0.0163034 -0.0209781 -0.0399201" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="0.0" upper="0.045" effort="20" velocity="0.2" />
    <dynamics damping="2.0" friction="0.2" />
  </joint>
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="base_yaw_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="arm_lift_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">-0.8</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="wrist_pitch_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">-1.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="left_finger_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0.04</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="right_finger_joint">
      <command_interface name="position" />
      <state_interface name="position">
        <param name="initial_value">0.04</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find robomaster_pick_place_sim)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>